header, main, footer {
    padding-left: 300px;
}
.nav-wrapper> .brand-logo {
    margin-left: 24px;
}

md-progress#main-progress {
    position: absolute;
    top: 0;
    width: 100%;
}
md-progress#main-progress > .progress {
    margin: 0;
}

.fixed-action-btn > a > .material-icons {
    transition: .2s ease-out;
}
.fixed-action-btn.active > a > .material-icons {
    transform: rotateZ(45deg);
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
    .nav-wrapper {
        padding-left: initial;
    }
    .nav-wrapper> .brand-logo {
        margin-left: 0;
    }
}